

<!DOCTYPE html> <!--conseguimos gerar esse html apenas dando exclamação e enter e isso é gerado altomaticamente pelo vscode-->
<html lang="pt_br"> <!--lang é um atributo que será a linguagem do html-->
<head>
    <meta charset="UTF-8"> <!--tipo de texto que usaremos-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>Proffy | Sua plataforma de estudos online</title> <!--título da página que fica na aba do navegador-->
    <link rel="shortcut icon" href="images/favicon.png" type= "image/png">    
    
    <!-- para deixarmos mais limpo o nosso html usaremos o css em outro arquivo  -->
    <link rel="stylesheet" href="/styles/main.css">  <!--podemos usar ctrl+/ pra comentar linhas no vscode-->
    <link rel="stylesheet" href="/styles/partials/page-landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-landing">
    <!--É importante sempre abrir nosso html com o botão direito e escolher a opção open live server para que sempre seja atualizada a página ao salvarmos o projeto-->
    
    <div id="container">
          
        <div class="logo-container">
            <img src="/images/logo.svg" alt="Proffy">
            <h2>Sua plataforma de estudos online</h2>
        </div>

        <img class="hero-image" src="/images/landing.svg" alt="Plataforma de Estudos">
        
        <!--p vem de paragraph, aqui ao término do texto há uma quebra de linha-->
    
        <!-- <img src="" alt="Logo"> src é o source de onde veio a imagem, pode ser uma img da web por exemplo, alt é a alternativa quando a imagem não é encontrada -->
    
        <div class="buttons-container">
            <a class="study" href="/study"> <!--quando passamos a usar nosso server podemos tirar o .html das páginas-->
                <img src="/images/icons/study.svg" alt="Estudar">
                Estudar
            </a>
            <a class="give-classes" href="/give-classes">
                <img src="/images/icons/give-classes.svg" alt="Dar aulas">
                Dar aulas
            </a>
        </div>

        <p class="total-connections">
            Total de 200 conexões já realizadas
            <img src="/images/icons/purple-heart.svg" alt="Coração roxo">
        </p>
    
    </div>
    

</body>
</html>

<!--
    <!DOCTYPE html>
<html>
    
        Isso é um comentário em html
        Dentro da tag html eu coloco informações
    
    <head>
        Colocamos no head configurações do nosso documentos
    </head>
    <body>
        Todo conteúdo visível na página deverá estar na tag body
    </body>
    
</html> -->